 .completed__List {
 	display: flex;
 	justify-content: flex-start;
 	flex-direction: column;
 	align-items: center;
 	background-color: #32de84;
 	width: 300px;
 	height: max-content;
 	margin: 1rem;
 	border-radius: 20px;
 	min-height: 400px;
 }

 .completed__ul_List {
 	margin-right: 2rem;
 }

 .completed__ul_List>li {
 	background-color: #ffff;
 	margin: 1rem;
 	padding: 1rem;
 	border-radius: 10px;
 	text-align: center;
 	width: 100px;
 }