 .completed__List {
 	display: flex;
 	justify-content: center;
 	background-color: #32de84;
 	width: 300px;
 	height: 300px;
 	margin: 1rem;
 	border-radius: 20px;
 }

 .completed__ul_List>li {
 	background-color: #ffff;
 	margin: 1rem;
 	padding: 1rem;
 	border-radius: 10px;
 	text-align: center;
 	width: 100px;
 }