body {
  display: flex;
  justify-content: center;
  background: #4CA1AF;
  background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);
  background: linear-gradient(to right, #C4E0E5, #4CA1AF);
}

.list__Section {
  display: flex;
  margin: 3rem;
}